<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sw.pypago">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="파이파고(Py-pago)"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.sw.pypago.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name="com.example.sw.pypago.MainActivity"
            android:label="파이파고(Py-pago)"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name="com.example.sw.pypago.ProjectActivity"></activity>
        <activity android:name="com.example.sw.pypago.BookListActivity"></activity>
        <activity android:name="com.example.sw.pypago.SightListActivity"></activity>
        <activity android:name="com.example.sw.pypago.RegisterActivity"></activity>
        <activity android:name="com.example.sw.pypago.ProjectBoardActivity"></activity>
        <activity android:name="com.example.sw.pypago.FreeboradActivity"></activity>
        <activity android:name="com.example.sw.pypago.Freeborad"></activity>
        <activity android:name="com.example.sw.pypago.LoginActivity"></activity>
        <activity android:name="com.example.sw.pypago.MyProjectActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name="com.example.sw.pypago.MyfreeBoard"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name="com.example.sw.pypago.MainActivity_memo"></activity>
        <activity android:name="com.example.sw.pypago.InsertActivity"></activity>
        <activity android:name="com.example.sw.pypago.UpdateActivity"></activity>
        <activity android:name="com.example.sw.pypago.ProblemListActivity"></activity>

    </application>

</manifest>